@import 'var';
@import 'mixin';

.main-payment-cont{
   height: 100vh;
    .paymentContainer {
    margin: 20px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    

    .payment-box {
        width: 60vmin;
      
        
         
     
       height: 400px;
@include flexprop(column,space-evenly,center);
box-shadow: 0px 0px 20px 6px rgba(151, 151, 151, 0.22);                
     padding: 0 15px;
       
        
     
          
      

            .paymentinput {
                padding: 13px 10px 13px 45px;
                box-sizing: border-box;
                width: 95%;
                transition: all 0.5s;
                font-size: 14px;
                border: 1px solid #e7e7e7;
                border-radius: 100px;
             margin: 0 auto;
              &::placeholder {
                  font-size: 14px;
                  color: rgb(32, 32, 32);
                  // font-weight: 100;
                  //  font-weight: 700;
                  
                  // letter-spacing: 5px;
              }

            }

        

    }
.processing{
    height: 20px;
    margin: 0px auto;
    width: 5px;
    display: block;
    border: 2px solid white;

    width: 20px;
    border-radius: 100px;
    border-left: none;
    border-bottom: none;
    animation-name: loading;
animation-iteration-count: infinite;
animation-fill-mode: both;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-direction: normal;
}
@keyframes loading{

    0%{
        transform: rotate(-360deg);
    }
    
        }
    }
}


@media screen and (max-width:600px) {
    .main-payment-cont{  .paymentContainer {
    
    
        .payment-box {
            width: 80vmin;
    
        }
    
    }}
  
    
}