
.small-heading{
    h4{
    text-align: center;
    padding: 0.5rem 0rem;
    width: 25%;
    font-style: italic;
    top: 59px;
    left: 145px;
    position: absolute;

    font-size: 20px;
    border-top: none;
    border-right: none;
    /* border-bottom: 2px solid rgb(255, 0, 88); */
    border-left: none;
    border-image: initial;
    margin: 10px 0px;

}
}
