.passwordContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


    .passwordBox {
        width: 60vmin;
        background-color: #fff;
        height: 70vmin;
        box-shadow: 0px 0px 20px 6px rgba(115, 115, 115, 0.22);

        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;

 

        .blue-btn {
         width: 90%;
 


  
        }

        .passwordForm {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            padding: 0px 20px;
            height: 80%;
            position: relative;

            .open {
                position: absolute;
                top: 117px;
                left: 48px;
                color: black;
                font-size: 25px;
            }


            .ripassword {

                position: absolute;
                left: 48px;
                top: 47px;
                font-size: 25px;
            }

            .closed {
    
                position: absolute;
                left: 48px;
                top: 188px;
                font-size: 25px;
            }


  #newpw:focus {
 border: 2px solid;

border-color: rgb(2, 141, 2);
}


        }


         
        }

    }


@media screen and (max-width:600px) {
    .passwordContainer {
    
        .passwordBox {
            width: 80vmin;
          
            height: 90vmin;
    
             
        }
    
        }
    
}