.userloader{
button{
  background-color:   rgb(255 255 255 / 45%);

  svg{
    font-size: 20px;
  }
}
.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
 width: 45px;
 height: 45px;
}
div{
    button{
        background-color: #fff;
    }
}

}
