.loading{
/* border: 1px solid red; */
height: 100vmin;
display: flex;
justify-content: center;
align-items: flex-start;
padding-top: 100px;
margin: auto;

}
.loader{
 
    display: inline-block;
    border: 5px solid rgb(174 174 174);
    width: 110px;
    height: 110px;
    border-radius: 60%;
    /* border-left: none; */
    border-bottom: none;
    border-top: none;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-direction: normal;
}
@keyframes loading{

0%{
    transform: rotate(-360deg);
}

}