.doughnut{
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 20px;
 align-items: center;
 height: 74%;
 
background-color: #fff;
border-radius: 4px;
padding: 40px;
margin: 10px 0;
}