.main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 30%;
    /* border: 1px solid red; */
    flex-direction: column;
    /* filter: brightness(0.5); */
    gap: 10px;
}